:root {
    --oxygen: 'Oxygen', sans-serif;
    --oxygen-mono: 'Oxygen Mono', monospace;
    --primary-color: #FFFCF2;
    --secondary-color: #CCC5B9;
    --tertiary-color: #404040;
    --background-color: #1f1f1f;
    --nav-background-color: #1a1a1a;
    --accent-color: #ff672b;
    --accent-color-active: #D44D1A;
}

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.oxygen-mono-regular {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* CSS RESET */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* END CSS RESET */

.nav-container {
    background-color: var(--nav-background-color);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: var(--oxygen-mono), sans-serif;
}

nav h1 {
    font-family: var(--oxygen), sans-serif;
    margin: 1rem 0;
}

nav h1 > a span {
    color: var(--accent-color);
    font-family: var(--oxygen-mono), sans-serif;
    transition: color 100ms;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 100ms, text-shadow 100ms;
    position: relative;
}

nav a:hover {
    color: var(--accent-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

nav h1 > a:hover span {
    color: var(--primary-color);
}

nav a:active {
    color: var(--accent-color-active);
}

.nav-links {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 1.2rem;
    align-items: center;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background-color: var(--primary-color);
    margin: 0 5px;
}
.nav-icons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.nav-icons a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 200ms;
}

.nav-icons a:hover {
    color: var(--primary-color);
}

@media (max-width: 755px) {
    nav {
        flex-direction: column;
    }
}

@media (min-width: 756px) {
    nav {
        max-width: 1600px;
        margin: 0 auto;
    }
}

/* NAV ELEMENTS ANIMATION START */

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: radial-gradient(circle, hsla(17, 83%, 54%, 1) 0%, hsla(46, 100%, 97%, 1) 100%);
    background-size: 200% 100%;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    animation: moveGradient 1s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: 0 200%;
    }
}

/* NAV ELEMENTS LINE ANIMATION END */

hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 2px;
    background-image: radial-gradient(circle, hsla(17, 83%, 54%, 1) 0%, hsla(46, 100%, 97%, 1) 100%);
    background-size: 200% 100%;
    animation: moveGradient 2.5s linear infinite;
}