@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Oxygen+Mono&display=swap');

* {
    box-sizing: border-box;
}

.hero-subtitle-container-flex {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 2rem;
}

.hero-subtitle-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-subtitle {
    width: 100%;
    font-size: 2rem;
    text-align: right;
    margin: 2rem 0 0 0;
    font-weight: bold;
    background: linear-gradient(200deg, var(--accent-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--oxygen), sans-serif;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    gap: 2rem;
    padding: 2rem;
    font-family: 'Oxygen', sans-serif;
}

.project-card {
    position: relative;
    width: 400px;
    background-color: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(90deg, #ff6b6b, #feca57, #48dbfb, #ff9ff3);
    z-index: 1;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-content {
    padding: 1.5rem;
    height: 100%;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.project-header .fa-github {
    font-size: 1.5rem;
    color: #ffffff;
}

.project-header h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 auto 0 0;
}

.project-link p {
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 1rem;
    flex-grow: 1;
    text-align: justify;
}

.tech-stack {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #ffffff;
    width: fit-content;
}

@media (max-width: 768px) {
    .projects-container {
        max-width: 100%;
    }

    .project-card {
        font-size: 0.875rem;
        max-width: 340px;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .project-description {
        font-size: 0.875rem;
    }

    .hero-subtitle-container-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.project-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 20%, #2a2a2a 20%, #2a2a2a 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #2a2a2a 20%, #2a2a2a 80%, transparent 80%, transparent) 25px 25px,
    linear-gradient(#3a3a3a 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #3a3a3a 2px, #2a2a2a 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    z-index: 0;
    opacity: 0.1;
    pointer-events: none;
}